#root{
    background-color: cadetblue;
}
    
.board {
    justify-self: center;
}
.row{
    max-width: 90%;
}

.tile:nth-child(even){
    background-color: navajowhite;
}
.tile:nth-child(odd){
    background-color: burlywood;
}

.tile{
    height: 50px;
    width: 50px;
    display: inline-flex;
    border: 1px solid black;
    cursor: pointer;
}
.tile-optional-move{
    height: 50px;
    width: 50px;
    display: inline-flex;
    border: 1px solid black;
    background-color: gold;
    cursor: pointer;
}
.tile-to-move{
    border: 2px solid red;
}
.tile img {
    max-width: 100%;
}
.tile-optional-move img {
    max-width: 100%;
}